@page
@using VacaYAY.Data;
@using VacaYAY.Data.Models;
@model VacaYAY.Web.Areas.Employees.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employees</h1>

<div class="row justify-content-between">
    <div class="col-md-4">
        <h3>Search</h3>
        <form method="post">
            @if (User.IsInRole(InitialData.AdminRoleName))
            {
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="Input.EmployeeFullName" />
                    <label asp-for="Input.EmployeeFullName">Full name</label>
                </div>
            }
            <div class="form-floating mb-3">
                <input type="date" class="form-control" asp-for="Input.EmploymentStartDate" />
                <label asp-for="Input.EmploymentStartDate">Employment start date</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" asp-for="Input.EmploymentEndDate" />
                <label asp-for="Input.EmploymentEndDate">Employment end date</label>
            </div>
            <div class="form-floating mb-3">
                <h5>Positions</h5>
                @Html.ListBoxFor(m => m.Input.Positions,
                new SelectList(Model.Positions, nameof(Position.Id), nameof(Position.Caption)),
                new { @class = "selectpicker" })
            </div>
            <button id="searchSubmit" asp-page-handler="Search" type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="col-md-4">
        <h4>Load existing employees from the old system</h4>
        <form method="post">
            <label asp-for="NumberOfFakeEmployeesToGenerate">Number of fake employees</label>
            <input type="number" min="1" class="form-control mb-3" asp-for="NumberOfFakeEmployeesToGenerate" name="numberOfFakeEmployeesToGenerate" value="2" />

            <button id="generateSubmit" asp-page-handler="GenerateFakeEmployees" type="submit" class="btn btn-primary">Load</button>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].DaysOffNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].EmploymentStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].EmploymentEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].InsertDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].DeleteDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysOffNumber)
                </td>
                <td>
                    @Convert.ToDateTime(item.EmploymentStartDate).ToString("dd/MMMM/yyyy")
                </td>
                <td>
                    @(item.EmploymentEndDate is null ? "None" : Convert.ToDateTime(item.EmploymentEndDate).ToString("dd/MMMM/yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Caption)
                </td>
                <td>
                    @Convert.ToDateTime(item.InsertDate).ToString("dd/MMMM/yyyy")
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
