@page
@using VacaYAY.Data.Models;
@model VacaYAY.Web.Areas.VacationRequests.IndexModel

<h1>Vacation requests</h1>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create" class="btn btn-outline-primary">Create New</a>
</p>
<h3>Search</h3>
<form method="post">
    <div class="form-floating mb-3">
        @Html.DropDownListFor(m => m.Input.LeaveTypeId, new SelectList(@Model.LeaveTypes, nameof(LeaveType.Id), nameof(LeaveType.Name)), "Any",
        new {@class="form-control dropdown-toggle"})
        <label for="LeaveTypeId">Leave type</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Input.EmployeeFullName" />
        <label asp-for="Input.EmployeeFullName">Employee name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" asp-for="Input.StartDate" />
        <label asp-for="Input.StartDate">Vacation start date</label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" asp-for="Input.EndDate" />
        <label asp-for="Input.EndDate">Vacation end date</label>
    </div>
    <button id="searchSubmit" asp-page-handler="Search" type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacationRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationRequests[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationRequests[0].Comment)
            </th>
            <th>
                Approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VacationRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                    (@Html.DisplayFor(modelItem => item.Employee.Email))
                </td>
                <td>
                    @Convert.ToDateTime(item.StartDate).ToString("dd/MMMM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.EndDate).ToString("dd/MMMM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @if (item.VacationReview is not null)
                    {
                        @(item.VacationReview.Approved ? "Yes" : "No")
                    }
                    else
                    {
                        @("Not yet reviewed")

                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-secondary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
